@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import 'prism-nord.css';
@import url('https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.css');

@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-lightBlue;
  }
  a:hover {
    @apply text-blue-300;
  }
  p {
    @apply text-baseColor text-base leading-snug;
  }
  ul {
    @apply list-disc list-outside;
  }
  ol {
    @apply list-decimal list-outside;
  }
  code {
    @apply select-all;
  }
  article {
      @apply break-words;
  }
}

@tailwind components;
@tailwind utilities;

html.light {
  background-color: #f6f6f6;
}

html.dark {
  background-color: #121212;
}

.skip-nav {
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.skip-nav:focus {
  transform: translateY(0%);
}
