@import 'SpoqaHanSansNeo.css';
@import 'prism-nord.css';
@import url('https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Spoqa Han Sans Neo;
    @apply accent-[#61d7e4] caret-[#61d7e4];
}

html.light {
    background-color: #f6f6f6;
}

html.dark {
    background-color: #121212;
}

article > h1 {
    @apply lg:text-3xl text-2xl text-[#27a1b9] m-2;
}
article > h2 {
    @apply lg:text-2xl text-xl text-[#41b19c] m-2;
}
article > h3 {
    @apply lg:text-xl text-lg text-[#916bbf] m-2;
}
a {
    @apply text-cyan-500 underline underline-offset-1 decoration-emerald-300;
}
a:hover {
    @apply text-cyan-600 underline underline-offset-1 decoration-teal-400;
}
article > p {
    @apply text-baseColor text-base leading-normal mb-1;
}
article > ul {
    @apply list-disc list-outside;
}
article > ol {
    @apply list-decimal list-outside;
}
article > em,
i {
    @apply text-red-400 dark:text-red-200;
}
article > b,
strong {
    @apply font-extrabold;
}
article > code {
    @apply select-all;
}
article {
    @apply whitespace-pre;
}
article > input {
    @apply w-[90%] mx-auto;
}
article > label {
    @apply ml-5;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.toc {
    @apply pl-3 pr-3 pt-1 pb-1 border-dashed border-4 border-gray-400 rounded-md top-2 bottom-2 mx-auto bg-light dark:bg-dark;
}

.toc-list {
    @apply flex flex-col list-none top-0;
}

.toc-item {
    @apply text-gray-700 dark:text-white text-sm;
}

.nav {
    @apply fixed lg:relative md:sm:w-full lg:w-1/5 top-0 md:sm:h-14 lg:h-auto z-50 bg-light dark:bg-dark;
}

.nav-link {
    @apply p-1 text-bluePrime dark:text-white hover:text-opacity-30 no-underline;
}

.list {
    @apply flex flex-col sticky top-0 font-bold p-2 gap-y-2 bg-light dark:bg-dark;
}

.item {
    @apply lg:text-[1.75rem] w-full md:sm:text-center md:sm:mr-0 md:sm:pl-5 md:sm:pr-5;
}

.nav-btn {
    @apply absolute h-full left-3 my-auto;
}

#publishToggle:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}
